body{
    background-image: radial-gradient();
}
.brand1{
    font-size:40px;
    font-weight: bolder;
    text-shadow:1px blue;
}
.nav1{
    background-color: black;
}
.topic{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color:  tan;
    text-shadow:2px 4px 4px brown;
    text-decoration: underline;
}
img{
   object-fit: contain;
}
.card-bg{
    background-color: rgb(210, 219, 129);
}
h2{
    color: black;
}
/*about*/
#para {
  text-align: center;
  font-size: 20px;
  color: black;
}
body {
  background-color: #FF2626;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.row1{
    margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 2%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
.paddingTB60 {padding:60px 0px 60px 0px;}
.gray-bg {background: #F1F1F1 !important;}
.about-title {}
.about-title h1 {color: #535353; font-size:45px;font-weight:600;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}