body {
  background-image: radial-gradient();
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.brand1 {
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px blue;
}
.nav1 {
  background-color: black;
}
.topic {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  color: rgb(182, 43, 18);
  text-shadow: 2px 4px 4px rgb(32, 24, 24);
  text-decoration: underline;
}
img {
  object-fit: contain;
}
.card-bg {
  background-color: rgb(202, 202, 198);
  border-radius: 15px;
}
h2 {
  color: black;
  font-size: largest;
}
/*about*/
#para {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
}
body {
  background-color: #131111;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.row1 {
  margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  color: tan;
  padding-top: 4%;
  padding-left: 6%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
